<html>
  <head>
    <title>Mail box</title>
  </head>
  <body>
    <h1>Log In</h1>
    <form method="post" action="/start_page">
      <p>Mail</p>
      <input type="text" name="user_mail">
      <p>Password</p>
      <input type="text" name="user_password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
